<!DOCTYPE html>
<html>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>

    <div class="main-content">
        {{>header}}
        <p>Created by {{name}}</p>
        <b>{{errorMsg}}</b>
    </div>

    {{>footer}}
</html>