<!DOCTYPE html>
<html>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>

    <div class="main-content">
        {{>header}}
        <b>{{b}}</b>
        <p>Created by {{name}}</p>
        <img class ="portrait" src="/img/Aderay.jpg" alt="">
    </div>

    {{>footer}}
</html>